@font-face {
   font-family: "Raleway";
   font-style: normal;
   font-weight: 800;
   src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "Rubik";
   font-style: normal;
	font-weight: 400;
   src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 800;
   src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
   font-display: swap; 
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
   height: 100%;    
}

body {
   margin: 0;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   font-family: Raleway, sans-serif;
   font-size: 18px;
   line-height: 24px;
   color: #000000;
   background-color: #ffffff;
   font-weight: 400;
}

.container {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
}

.page-header {
   background-color: #FFE17F;
	width: 1160px;
	margin: 0 auto;
	padding: 0;
} 

.navigation {
   margin: 0;
	padding: 0;
}

.navigation-link {
   text-decoration: none;
   color: #000000;
   font-size: 18px;
}

.navigation-list {
   line-height: 22px;
   font-weight: 800;
}

.navigation-user {
   font-family: Rubik, sans-serif;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
	display: flex;
	justify-content: space-between;
}

.navigation-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation-item {
	list-style-type: none;
}

.main-container {
	flex-grow: 1;
}

.gallery-item {
   display: flex;
}

.slider-title {
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
}

.slider-text {
   font-family: Rubik, sans-serif;
   font-size: 18px;
   line-height: 30px;
   color: #444444;
}

.caption {
   font-size: 16px;
}

.slider-info {
   font-family: Rubik, sans-serif;
   font-size: 36px;
   line-height: 30px;
}

.category a {
   font-weight: 800;
   color: #000000;
   text-decoration: none;
	display: flex;
	flex-direction: column;
	width: 160px;
	margin: 0 auto;
	padding: 0;
}

.category-list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;	
	margin: 0 auto;
	padding: 0;
}


.category-item {
	width: 160px;
	height: 160px;
	margin-right: 40px;
}

.category-item:last-child {
	margin-right: 0;
}

/* Сервис */

.delivery {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: inherit;
}

.delivery-servis-credit {
	display: flex;
	flex-direction: row;
}

.delivery-list {
	list-style-type: none;
}

.delivery-item {
	display: flex;
	flex-direction: row;
}

.delivery-item a {
   font-weight: 800;
   line-height: 22px;
   color: #FFE17F;
   background-color: #000000;
   text-decoration: none;
}

.caption-content {
	list-style-type: none;
}

.delivery-caption {
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
}

.delivery-item p {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   line-height: 30px;
   color: #444444;
}   

.delivery-crumbs {
   font-weight: 800;
   line-height: 22px;
   color: #000000;
   text-decoration: none;
}

/*Каталог товаров */

.catalog-products {
	display: flex;
}

.filter {
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
	padding-left: 200px;
	padding-right: 32px;
}

.filter-catalog {
	width: 200px;
}

.catalog-filter-title {
   font-family: Rubik, sans-serif;
   font-weight: 700;
   line-height: 20px;
}

.catalog-filter-list {
	list-style-type: none;
}

.filter-button {
   font-weight: 800;
   line-height: 21px;
}
.catalog-right-column {
	width: 800;
	margin:auto;
}

/* О нас-Контакты */
.rare-product {
   font-weight: 800;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
   background-color: #f0f0f0;
}

.about-contacts {
	display: flex;
	flex-direction: row;
}
.about {
	margin: 0;
	padding: 0;
}

.about-us {
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
	width: 560px;
}

.about-text {
   font-family: Rubik, sans-serif;
   font-size: 18px;
   line-height: 30px;
}

.about-item {
   font-family: Rubik, sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   color: #000000;
}

.about a {
   font-weight: 800;
   font-size: 18px;
   line-height: 22px;
   text-decoration: none;
   color: #000000;
}

.contacts {
	margin: 0;
	padding: 0;
}

.contact-title { 
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
}

.contact-text {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #444444;
}

.contacts-subtitle {
   font-family: Rubik, sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   color: #444444;
}

.contacts-address-text {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #444444;
}

.contacts-phone {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #000000;
}

.contacts-schedule {
   font-family: Rubik, sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   color: #444444;
}

.contacts-schedule-item {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #444444;
}

.contacts a { 
   font-weight: 800;
   font-size: 18px;
   line-height: 22px;
   text-decoration: none;
   color: #000000;
}

.newsletter {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.newsletter-title {
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
   color: #000000;
}

.newsletter-text {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #444444;
}

.newsletter-form {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #444444;
}

.newsletter-button {
   font-weight: 800;
   line-height: 22px;
   color: #000000;
}
.newsletter-free {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #444444;
}


.fast-menu-link {
	display: flex;
	flex-direction: row;
}

.fast-menu-item {
   font-weight: 800;
   line-height: 21px;
   color: #ffffff;
   text-decoration: none;
}

.inner-name {
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
}
.breadcrumbs {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	font-weight: 500;
}

.breadcrumbs-list {
   font-family: Rubik, sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
   text-decoration: none;
}


.control-label {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
	list-style-type: none;
}

.bluetooth-function {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
}

.sorting {
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
}

.popular {
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
}

/* Карточки товара */
.product-card {
	list-style-type: none;
}

.product-card-link {
   font-family: Rubik, sans-serif;
   font-weight: 700;
   line-height: 24px;
   color: #000000;
   text-decoration: none;
}

.product-card-price {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   line-height: 22px;
}

.button-download {
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
}

.pagination {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.pagination-back {
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   text-decoration: none;
   color: #000000;
}

.pagination-forward {
   font-weight: 800;
   font-size: 16px;
   line-height: 19px;
   text-decoration: none;
   color: #000000;
}

.pagination-current {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #444444;
   text-decoration: none;
}

.footer {
   color: #ffffff;
   background-color: #444444;
	display: flex;
}

.footer-contacts-address-text {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #ffffff;
}

.footer-contacts-phone {
   font-family: Rubik, sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #ffffff;
   text-decoration: none;
}

.footer-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
